
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .conten{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .contenedorJ{
    max-width: 1000px;
    width: 100%;
    height: 300px;
    background-color: rgb(53, 78, 92);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .conFoto{
    background: rgba(216, 210, 210, 0.2);
    padding: 10px 0px;
    height: auto;
    width: 700px;
    text-align: center;
  }
  .foto{
    border-radius: 30px ;
    width: auto;
    height: 200px;
  }
  .conFoto h3{
    padding: 5px 0px;
  }
  
  .conFoto h3:hover{
    width: auto;
    color:rgba(12, 239, 220, 0.858);
   
  }
  


  /*********************** CONTENEDOR GENERAL *************/

.general{
    display: flex;
    justify-content: center;
    height: 900px;
  }
  
  
  .contenedorSupCard h2{
    color: rgb(0, 0, 0);
    margin-left: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
   
    
  }
  
  
  
  /****************CARD 1***********************/

.card {
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: auto;
  height: auto;
  padding-bottom: 20px;
  text-align: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(9, 133, 161, 0.637);
}

.card img {
  width:250px;
  height: 165px;
  
}
.container {
  padding: 2px 16px;
  height: 100%;
  color: rgb(0, 0, 0);
}


.container h4,p{
  margin-bottom: 10px;
}
.contendorBoton{
  display: flex;
  justify-content: center;
 

}
.boton{
  width: 150px;
  height: 30px;
  background-color: rgb(27, 131, 150);
  border-radius: 1em;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.boton:hover{
  background-color: rgb(97, 214, 225);
}
.boton a{
  color: white;
  text-decoration: none;
}
