.glo{
  display: flex;
  justify-content: center;
}
.g-1{
    max-width: 1000px;
    width: 100%;
    height: 500px;
    background-color: rgb(237, 237, 237);
  }
  .contenedorSubCard{
    max-width: 1000px;
    margin-top: 20px;
    /*background-color: rgb(53, 78, 92);*/
  
  }

  .contenedorSubCard h2{
    margin: 10px 0px 20px 20px;
  }
  .contenedorCard{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
  }

  /****************FORMATO DE LAS CARDST**************/

.card1{
    margin: 0px 20px;
  }
  
  .card2{
    margin: 0px 20px;
  }
  